ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: entrada ease-out 1s;
}

li{
    margin: 5px;
    list-style: none;
    background-color: antiquewhite;
    padding: 10px;
    border-radius: 25%;
    cursor: pointer;
    transition: background-color 1.3s linear;
}

li:hover{
    background-color: red;
    transform: translateX(20px);
}

@keyframes entrada {
    0%{
        transform: translateX(-100%);
    }
    25%{
        transform: translateX(25%);
    }
    75%{
        transform: translateX(-25%);
    }
    100%{
        transform: translateX(0%);
    }

}